html, body {
  margin: 0;
  padding: 0;
}
#container {
  height: 400px;
  width: 200px;  
  position: relative;
}
#content-box {
  background-color: rgba(0,0,0,0.1);
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
#shadow-box {
  height: 100%;
  width: 100%;
  position: absolute;
  overflow-y: scroll;
  z-index: 10;
}
#shadow {
  position: absolute;
  height: 1440px;
  width: 100%;
  background-color: rgba(0,255,0,0.4);
}
.list-item {
  background-color: rgba(255, 0,0, 0.1);
  height: 30px;
  width: 100%;
}